*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans' , sans-serif;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color: orange;
}
body{
    
    
    background-position: center;
    
}
.logo{
    margin: 1rem;
}
/**/
header {
    position: relative;
}

.navbar {
    position: relative;
    z-index: 2; /* Navbar y dropdown arriba */
}

.dropdown_menu {
    z-index: 2; /* Dropdown arriba */
}

.header_content {
    margin-top: 100px; /* Separar el contenido del menú */
    text-align: center;
    padding: 2rem;
    z-index: 1; /* Contenido debajo */
    position: relative;
}
header{
    background-image: url('../imagenes/Fondo1.jpg');
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}
.action_btn:active{
    scale: 0.95;
}

/*DROPDOWN MENU*/
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s ease;
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* HERO*/
section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

body{
    font-family: ´roboto´, sans-serif;
}
header{
    background-image: url(../imagenes/Fondo1.jpg);
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 0 2rem;
}
main, footer{

    border: 1px solid #bbb;
    padding: 0.5rem;
    background-color: aqua;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section{
    height: 50vh;
    position: relative;
    padding: 1rem;
    background-color: #fff;
}
.primero{
    background-image: url(../imagenes/Fondo2.jpg);
    height: 50vh;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 0 2rem;
    grid-column: 1/4;
    padding: 1rem;
    background-color: #fff;
}

footer{
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1/4;
}

/* ESTILOS GENERALES */
h1 {
    font-size: 44px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

/* Para los botones */
button, .action_btn {
    font-size: 14px;
}
@media screen and (min-width: 600px)
{
    header, main,section{
        background-color: lightcoral;
        color: black;  
    }
    main{
        grid-template-columns: 1fr 1fr;
    }
    section{
        background-color: aquamarine;
    }
    .rojo{
        background-color: #d03b40;
    }
    .beige{
        background-color: #ded6c0;
    }
    .header{
        text-align: center;
    }   
}
/*RESPONSIVE DESIGN*/
@media screen and (max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}
@media screen and  (max-width: 576px){
    .dropdown_menu{
        left:  2rem;
        width: unset ;
    }
}